@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

#location {
  padding: 7px;
}

select {
  padding: 7px;
  width: 100%;
  text-align: center;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  padding: 20px;
}

.middle-container {
  display: flex;
}

#builder-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#widget-customization {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 30px
}

.form-btn {
  margin-top: 10%;
  width: 100%;
  height: 32.4px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

#font-color-holder {
  margin-top: 10%;
}

#font-color-picker {
  margin-top: 3px;
}

#mobile-btn {
  width: 100%;
  padding: 5px;
  border: 1px solid black;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}

#mobile-btn p {
  display: inline;
}

#mobile-btn :hover {
  font-weight: bold;
}

#mobile-btn :active {
  font-weight: bold;
}

#widget-code {
    margin-top: 20px;
    overflow-y: auto;
    max-height: 200px;
    width: 180px;
}


#suggestions {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  top: 60px;
  left: 30px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

}

#suggestions li {
  padding: 5px;
  cursor: pointer;
}

#suggestions li :hover {
  box-shadow: 0px 0px 143px 0px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0px 0px 143px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 0px 143px 0px rgba(0,0,0,0.8);
}

#location {
  position: relative;
}

#suggestions.show {
  display: block;
}

#suggestions.hide {
  display: none;
}

@media (max-width: 600px) {

  .more-info-div a {
    background-color: rgb(218, 240, 255);
    color: black;
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }

  #preview-container {
    margin: auto;
    height: 600px;
    max-width: 350px;
    direction: rtl;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .widget {
    color: rgb(68, 69, 76);
    font-family: 'Rubik', sans-serif;
    gap: 10px;
    min-height: 495.6px;
    min-width: 300px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    opacity: 1;
    cursor: pointer;
  }

  .img-property {
    width: 100%;
    height: 270px;
    border-radius: 16px;
  }

  .widget-desc {
    direction: rtl;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .div-rating {
    direction: rtl;
    display: flex;
    align-items: center;
  }

  .div-location {
    text-align: left;
    font-weight: bold;
  }

  .widget :active {
    transform: scale(1.02);
  }

  .div-location img {
    width: 21px;
    position: relative;
  }
  
  .div-location {
    position: relative;
    width: 100px;
    bottom: 40px;
    margin-left: 10px;
    color: white;
    direction: rtl;
    display: flex;
    font-size: 12px;
    text-align: left;
    align-items: center;
    flex-direction: row-reverse;
    padding: 5px 8px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    gap: 5px;
    border-radius: 8px;
    background-color: black;
}
  
  
  .div-rating {
    direction: rtl;
    display: flex;
    align-items: center;
    font-weight: bold;
  }

#all-attractions-btn {
  margin: auto;
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-top: 5px;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
};

}

 @media (min-width: 600px) {
     /* #preview-container {
       width: 600px;
       direction: rtl;
       margin-left: 80px;
       display: flex;
       flex-direction: column;
       flex-wrap: nowrap;
       justify-content: center;
       gap: 20px;
   } */
   
     .widget {
      color: rgb(68, 69, 76);
      font-family: 'Rubik', sans-serif;
       max-width: 200px;
       max-height: 450px;
       margin-top: 7px;
       gap: 8px;
       display: flex;
       flex-direction: column;
       text-align: right;
       cursor: pointer;
     }
   
     /* .img-property {
       border-radius: 16px;
       width: 200px;
       height: 200px;
     } */
     
     h3 {
       font-size: 15px;
     }
   
   .widget-desc {
     direction: rtl;
     font-size: 14px;
     overflow: hidden;
     text-overflow: ellipsis;
     display: none; /* -webkit-box to show */
     -webkit-line-clamp: 3;
     -webkit-box-orient: vertical;
   }

   /* .more-info-div a {
    background-color: rgb(218, 240, 255);
    color: black;
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
} */
  /* .header {
    min-height: 36.8px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  } */

  #widget-container {  
    /* width: 600px; 
    overflow-x: hidden; 
    padding: 0px 80px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap; */
  }
  
  .scroll-btns-div {
    display: none;
    align-items: center;
    padding: 0px 80px;
    margin-bottom: 20px;
    justify-content: flex-start;
    column-gap: 20px;
  }

  .scroll-btn {
    background-color: rgb(8, 205, 217);
    pointer-events: all;
    opacity: 1;
    width: 50px;
    height: 50px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 8px;
    transition: opacity 300ms ease 0s;
    cursor: pointer;
  }

  #scroll-btn-right {
    transform: scale(-1)
  }

  .divImage {
    position: relative;
  }

  /* .div-location {
    color: white;
    direction: rtl;
    display: flex;
    font-size: 12px;
    text-align: left;
    align-items: center;
    flex-direction: row-reverse;
    position: absolute;
    top: 169px;
    margin-right: 5px;
    margin-left: 10px;
    padding: 5px 8px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    gap: 5px;
    border-radius: 8px;
    background-color: black;
  } */
   }
  

.div-location img {
  width: 21px;
  position: relative;
}

/* .div-rating {
  direction: rtl;
  display: flex;
  align-items: center;
  font-weight: bold;
} */

/* #all-attractions-btn {
  font-family: 'Rubik', sans-serif;
  background-color: rgb(218, 240, 255);
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}; */

/* .all-attractions-btn-div {
  padding-bottom: 10px;
} */